<% content_for :hero_unit do %>
    <h1><%= ApiBootstraper.config.app_name %> Documentation</h1>
    <p>Welcome on the <%= ApiBootstraper.config.app_name %> API documentation.</p>
<% end %>


<div class="row">
    <div class="col-md-4">
        <h2>REST API</h2>
        <p>Documentation of all services of the REST API.</p>
    </div>
    <%# Temporary hide this
    <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
    </div>
    <div class="col-md-4">
        <h2>Heading</h2>
        <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.</p>
    </div>
    %>
</div>

<div class="row">
    <div class="col-md-4">
        <p><a class="btn btn-default" href="<%= url_for :rest %>">View details &raquo;</a></p>
    </div>
    <%# Temporary hide this
    <div class="col-md-4">
        <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <p><a class="btn btn-default" href="#">View details &raquo;</a></p>
    </div>
    %>
</div>
